<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>激活成功</title>
</head>
<body>
	<p>恭喜您激活成功,<span id="time">3</span>秒后自动跳转登录页面</p>
	<p>如果页面未正常跳转，请单击 <a href="/user/login">登录</a></p>

</body>
	<script>
		// 3秒后自动跳转
		
	</script>
</html>